
API/SisControlApi - Exemplo/obj/Debug/net8.0/SisControlApi.AssemblyInfo.cs
API/SisControlApi - Exemplo/obj/Debug/net8.0/SisControlApi.AssemblyInfoInputs.cache
/API/SisControlApi - Exemplo/obj/Debug/net8.0
*.cs
API/SisControlApi - Exemplo/obj/Debug/net8.0/SisControlApi.AssemblyInfoInputs.cache
