body {
    font-family: Arial, sans-serif;
    background-color: #264257; /* Fundo da página */
    color: #88A9C3; /* Cor do texto */
    padding: 20px;
    text-align: center;
}

/* Estilo dos botões */
button {
    background-color: #091235; /* Fundo dos botões */
    color: #88A9C3; /* Texto dos botões */
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88A9C3;
    color: #091235;
}

.button-exclusive{
    display: none;
}

/* Estilo do formulário */
.form {
    background-color: #14202E; /* Fundo do formulário */
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    display: none; /* Inicialmente escondido */
}

/* Estilo dos campos do formulário */
.campo_form {
    display: block;
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

select.campo_form {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

/* Estilo do botão enviar */
#submit {
    background-color: #88A9C3;
    color: #264257;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: #264257;
    color: #88A9C3;
}

.user-info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264257;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #091235;
}

.user-info p{
    display: flex;
    align-items: center;
    padding: 4px 2px;
}

.user-info span {
    padding: 4px 8px;
    align-items: center;
}

.p1, .p3{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    background-color: #88A9C3;
}

.p2, .p4{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}