/*---------------- Variaveis gerais --------------*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#messageCads, #messageSolic, #messagePesq, #messageUser, #messageBtItens, #messageBtUser {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    display: none;
    text-align: center;
}

#messageCads.success, #messageSolic.success, #messagePesq.success, #messageUser.success, #messageBtItens.success, #messageBtUser.success {
    color: green;
}

#messageCads.error, #messageSolic.error, #messagePesq.error, #messageUser.error, #messageBtItens.error, #messageBtUser.error {
    color: red;
}

#messageBtItens.alert, #messageBtUser.alert {
    color: red;
    font-weight: bold;
}

/*---------------- Barra do topo --------------*/

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 5px 50px;
    background-color: #091235
}

.title-top-bar {
    color: #88A9C3;
    font-size: 25px;
    text-align: center; 
}

.bt_top-bar {
    padding: 5px 10px 5px 10px;
    background-color:#ddd;
    & img {
        width: 35px;
    }
}

.container-principal {
    display: flex;
    flex: 1;   
}

/*---------------- Menu Lateral --------------*/

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 99%;
    padding: 15px 10px 10px 10px;
    border-right: 1px solid black;
    background-color: #141541;
}

.bts-menu-lateral {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #465280; /* Fundo dos botões */
    color: #f3f3f3; /* Texto dos botões */
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88A9C3;
    color: #000207;
}

.button-exclusive{
    display: none;
}

.menu-user {
    color: #88A9C3;
    font-size: 15px;
    text-align: center;
}

/*---------------- Parte Central do conteúdo --------------*/

.conteudo-main {
    flex: 1;
    padding: 20px;
    background-color: #aab7b8;
}

.form {
    background-color: #14202E;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    display: none;
}

.campo_form {
    display: block;
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

select.campo_form {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

/* Estilo do botão enviar */
#submit {
    background-color: #88A9C3;
    color: #264257;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: #264257;
    color: #88A9C3;
}

/*---------------- Código referente ao resumo dos itens --------------*/
.item-resume {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264257;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #091235;
}

table {
    width: 100%;
  }
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
  
tr:nth-child(even) {
background-color: #dddddd;
}

.item-resume span {
    padding: 4px 8px;
    align-items: center;
    display: inline;
}

.itens-resume-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-close-itens-resume {
    padding: 7px;
    background-color: #acb1c5;

    & img {
        width: 20px;
    }
}

.button-close-itens-resume:hover {
    background-color: red;
}
/*---------------- Fim do código referente ao dados do usuario --------------*/

/*---------------- Código referente ao dados do usuario --------------*/
.user-info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264257;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #091235;
}

.user-info p{
    display: flex;
    align-items: center;
    padding: 4px 2px;
}

.user-info span {
    padding: 4px 8px;
    align-items: center;
    display: inline;
}

.p1, .p3{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #88A9C3;
}

.p2, .p4{
    font-size: 1em;
    margin: 0;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #b1b1b1;
}

.user-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-edit {
    display: none;
}

.button-close-user-info, .button-edit {
    padding: 7px;
    background-color: #acb1c5;

    & img {
        width: 20px;
    }
}

.button-close-user-info:hover {
    background-color: red;
}

.button-edit:hover {
    background-color: #465280;
}

.input-alterar-cong, .select-edit-functions {
    display: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}
/*---------------- Fim do código referente ao dados do usuario --------------*/


/*---------------- Parte do conteudo lateral direito --------------*/

.conteudo-lateral {
    display: none;
    width: 500px;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-close {
    background-color: white;
    position: absolute;
    right: 10px;
    transition: background-color 0.3s ease;
    padding: 3px 6px;

    & img {
        width: 20px;
    }
}

.button-close:hover {
    background-color: #cf3030;
    color: #091235;
}

.imgItem {
    max-width: 100%; /* Ajusta a largura máxima para evitar overflow */
    max-height: 200px; /* Define uma altura máxima para a imagem */
    object-fit: contain; /* Garante que a imagem mantenha a proporção */
}

.hidden {
    display: none;
}

.buttons-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-confirm {
    display: flex;
    justify-content: center;
}

.campo-alterarQt {
    display: none;
    width: 30%;
    margin-left: 20px;
    border-radius: 10px;
}

.campo-alterarDesc {
    display: none;
    width: 40%;
    margin-left: 20px;
    border-radius: 10px;
}

/*---------------- Conteudo lateral do carrinho --------------*/

/* Classe para ocultar o carrinho */
.hidden {
    display: none;
}

/* Classe para mostrar o carrinho com transição */
.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px; /* Largura do menu */
    background-color: #f5f5f5;
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.open-carrinho {
    padding-right: 300px; /* Empurra o conteúdo do body */
}

.resume-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-bottom: solid 1px #000207;
    padding-top: 5px;
    padding-bottom: 5px;

    & h4, p, button {
        margin: 5px;
    }
}

/*---------------- Footer --------------*/

footer {
    background-color: #ddd;
    text-align: center;
    height: 20px;
}