<<<<<<< HEAD
#message.success {
    color: green;
}

#message.error {
    color: red;
}

body {
=======
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
>>>>>>> 660e1e6b4015997ce28bf169824cbeccab6a8cb9
    font-family: Arial, sans-serif;
}

.container-principal {
    display: flex;
    flex: 1;   
}

#messageCads, #messageSolic, #messagePesq, #messageUser, #messageBtItens {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black;
    display: none;
    text-align: center;
}

#messageCads.sucess, #messageSolic.sucess, #messagePesq.sucess, #messageUser.sucess, #messageBtItens.success {
    color: green;
}

#messageCads.error, #messageSolic.error, #messagePesq.error, #messageUser.error, #messageBtItens.error {
    color: red;
}

#messageBtItens.alert {
    color: red;
    font-weight: bold;
}

/*---------------- Menu Lateral --------------*/

.menu-lateral {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid black;
    background-color: #091235;
}

.title-menu {
    color: #88A9C3;
    font-size: 18px;
    text-align: center; 
}

button {
    background-color: #465280; /* Fundo dos botões */
    color: #88A9C3; /* Texto dos botões */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88A9C3;
    color: #091235;
}

.button-exclusive{
    display: none;
}

.menu-user {
    color: #88A9C3;
    font-size: 15px;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

/*---------------- Parte Central do conteúdo --------------*/

.conteudo-main {
    flex: 1;
    padding: 20px;
    background-color: #aab7b8;
}

.form {
    background-color: #14202E;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    display: none;
}

.campo_form {
    display: block;
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

select.campo_form {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #264257;
    border-radius: 5px;
    background-color: #091235;
    color: #88A9C3;
    font-size: 16px;
}

/* Estilo do botão enviar */
#submit {
    background-color: #88A9C3;
    color: #264257;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: #264257;
    color: #88A9C3;
}

<<<<<<< HEAD
.user-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: space-between;
=======
/*---------------- Parte do conteudo lateral direito --------------*/

.conteudo-lateral {
    display: none;
    width: 500px;
    height: 100%;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.imgItem {
    max-width: 100%; /* Ajusta a largura máxima para evitar overflow */
    max-height: 200px; /* Define uma altura máxima para a imagem */
    object-fit: contain; /* Garante que a imagem mantenha a proporção */
}

.user-info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
>>>>>>> 660e1e6b4015997ce28bf169824cbeccab6a8cb9
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264257;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #091235;
}

<<<<<<< HEAD
.item-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #264257;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #091235;
}

.item-info-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info p, .item-info p{
=======
.user-info p{
>>>>>>> 660e1e6b4015997ce28bf169824cbeccab6a8cb9
    display: flex;
    align-items: center;
    padding: 4px 2px;
}

<<<<<<< HEAD
.user-info span, .item-info span {
=======
.user-info span {
>>>>>>> 660e1e6b4015997ce28bf169824cbeccab6a8cb9
    padding: 4px 8px;
    align-items: center;
}

.p1, .p3{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    background-color: #88A9C3;
}

.p2, .p4{
    font-size: 1em;
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
<<<<<<< HEAD
=======
}

.buttons-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-confirm {
    display: flex;
    justify-content: center;
}

/*---------------- Footer --------------*/

footer {
    background-color: #ddd;
    text-align: center;
    height: 20px;
>>>>>>> 660e1e6b4015997ce28bf169824cbeccab6a8cb9
}